name: Deploy SQL Server Docker

on:
  push:
    branches:
      - main
    paths:
      - "env/dev/**"
      - "env/test/**"
      - "env/prod/**"

jobs:
  dev-test:
    runs-on: self-hosted
    if: ${{ github.event.head_commit.message != '' }} # Always run on push with changes
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy Dev
        if: ${{ github.event.head_commit.modified != null && contains(join(github.event.head_commit.modified, ''), 'env/dev/') }}
        working-directory: env/dev
        run: |
          terraform init
          terraform apply -auto-approve

      - name: Deploy Test
        if: ${{ github.event.head_commit.modified != null && contains(join(github.event.head_commit.modified, ''), 'env/test/') }}
        working-directory: env/test
        run: |
          terraform init
          terraform apply -auto-approve

  prod-approval:
    runs-on: ubuntu-latest
    needs: dev-test
    if: ${{ github.event.head_commit.modified != null && contains(join(github.event.head_commit.modified, ''), 'env/prod/') }}
    steps:
      - name: Manual Approval for Prod
        uses: hmarr/auto-approve-action@v2
        with:
          message: "Approve Terraform apply for PROD environment"

      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy Prod
        working-directory: env/prod
        run: |
          terraform init
          terraform apply -auto-approve

