name: Deploy SQL Server Docker - DEV

on:
  push:
    branches:
      - main
    paths:
      - "env/dev/**"

jobs:

  terraform-dev:
    runs-on: self-hosted
    environment: dev

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Terraform Init & Apply (DEV)
        working-directory: env/dev
        run: |
          terraform init
          terraform apply -auto-approve

