name: Deploy SQL Server Docker

on:
  push:
    branches:
      - main
    paths:
      - 'env/dev/**'
      - 'env/test/**'
      - 'env/prod/**'

jobs:
  terraform:
    runs-on: self-hosted
    strategy:
      matrix:
        environment: [dev, test, prod]

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Terraform Init
        working-directory: env/${{ matrix.environment }}
        run: terraform init

      - name: Terraform Apply
        working-directory: env/${{ matrix.environment }}
        run: terraform apply -auto-approve

